@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

.skew {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.skew::before {
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    transform: skew(var(--deg));
    background-color: var(--color);
    z-index: -1;
}

/* TODO: CSS for scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track { /* TODO: CSS scrollbar empty*/
    background-color: transparent;
    opacity: .7;
}

body::-webkit-scrollbar-thumb { /* TODO: CSS scrollbar scroll */
    background-color: var(--primary-color);
    border-radius: 6px;
}

/* TODO: CSS for button */
.button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-right: 15px;
    transition: .3s;
}

.button > i {
    margin-left: 6px;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white-100-color);
    font-weight: 500;
}

.button-primary:hover {
    background-color: var(--second-color);
    transition: .3s;
}

.button-second {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-weight: 500;
}

.button-second:hover {
    background-color: var(--white-30-color);
    transition: .3s;
}