body {
    font-family: Arial, sans-serif;
}

.product__price {
    font-weight: bold;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.header__bottom-dropmenu {
    width: 25vw;
    min-width: 420px;
    margin-top: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.header__bottom-dropmenu #checkout-btn {
    padding: 8px;
    font-size: 1.4rem;
    color: #fff;
    width: 100%;
    margin-top: 5px;
}

.dropdown-header {
    font-size: 2rem;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: 600;
}

.list-group-item {
    margin-bottom: 5px;
    border: 1px solid #ddd !important;
    border-radius: 5px;
}

.list-group-item img {
    object-fit: cover;
    width: 130px !important;
}

.miniCart__infor p {
    margin-bottom: 3px !important;
    font-size: 1.3rem !important;
}

.miniCart__infor p:first-child {
    font-size: 1.5rem !important;
    line-height: 1.2;
}   

.miniCart__infor p:nth-child(2) {
    font-size: 1.3rem !important;
}