body {
    font-family: Arial, sans-serif;
}

.product__price {
    font-weight: bold;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.header__bottom-cart .header__bottom-dropmenu {
    width: 25vw;
    min-width: 420px;
    margin-top: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.header__bottom-dropmenu #checkout-btn {
    padding: 8px;
    font-size: 1.4rem;
}

.header__bottom-cart .dropdown-header {
    font-size: 1.4rem;
}

.header__bottom-cart .list-group-item {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.list-group-item img {
    object-fit: cover;
    width: 130px !important;
}

.miniCart__infor p:first-child {
    font-size: 1.2rem !important;
}