

@media screen and (max-width: 1199.98px) {
    .contact{
        margin-top: 30px;
    }
    #contact-img-cover{
        display: none;
    }
    .contact-img-bottom{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .contact-img-bottom{
        width: 100%;
    }
}
@media screen and (max-width: 492px) {
    .form__title h1{
        font-size: 3rem !important;
    }
    .contact-img-bottom{
        display: none;
    }
}
@media screen and (max-width: 435px) {
    .form__title h1{
        font-size: 2.5rem !important;
    }
}
@media screen and (max-width: 400px) {
    .form__title h1{
        font-size: 2.2rem !important;
    }
}