@media screen and (max-width: 492px) {
    .form__title h1{
        font-size: 3rem !important;
    }
    .contact-img-bottom{
        display: none;
    }
}
@media screen and (max-width: 435px) {
    .form__title h1{
        font-size: 2.5rem !important;
    }
}
@media screen and (max-width: 400px) {
    .form__title h1{
        font-size: 2.2rem !important;
    }
}