

@media screen and (max-width: 991.98px) {
    .about-us-img {
        display: flex;
        align-items: center;
    }

    .course .row {
        flex-direction: column-reverse;
    }

    .skills-img {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 767.98px) {
    .about-us-content h1 {
        text-align: center;
    }

    .text {
        text-align: justify;
    }

    .course .row {
        flex-direction: column-reverse;
    }

    .skills {
        margin-top: 20px;
    }

    .skills__main {
        margin: 4rem 4rem;
    }

    .skills__main p {
        text-align: justify;
    }

    .send-number .read-number {
        width: 160px;
    }

    .send-number .send {
        width: 90px;
    }
}

@media screen and (max-width: 455px) {
    .list li {
        margin-bottom: 20px;
        text-align: justify;
    }  
    
    .thing-content .content p {
        display: none;
    }

    .thing-content .content h3 {
        text-align: center;
    }

    .free-advice h1 {
        text-align: center;
    }

    .send-number .read-number {
        margin-bottom: 10px;
    }

    .send-number .read-number {
        width: 150px;
    }

    .send-number .send {
        width: 100px;
    }

    .send-number {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}