body{
    width: auto;
}

.about-us{
    background-color: var(--white-100-color);
    margin: 4rem 4rem;
    font-size: 16px;
}

.about-us-img img{
    width: 100%;
}

.about-us-content .list{
    list-style-type: none;
    padding-left: 0;
    margin: 2rem;
}

.about-us-content .list li{
    font-weight: 550;
    height: 4rem;
}

.about-us-content .list img{
    height: 22px;
    width: 22px;
    margin-right: 1.5rem;
    transform: translateY(-3px);
}

.btn-about {
    padding: 12px 18px;
    background-color: var(--primary-color);
    color: var(--white-100-color);
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
    transition: .3s;
}

.btn-about:hover {
    background-color: var(--second-color);
    transition: .3s;
}

.course-skills{
    width: auto;
    height: 53.8rem;
    background-color: var(--white-30-color);
    margin: 4rem 4rem;
    display: flex;
    align-items: center;
}

.skills__main h1 {
    color: var(--primary-color);
    font-size: 3.8rem;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.skills{
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-dark-color);
}

.about-us-content h1, .course-skills h1, .why-chose-us h1{
    color: var(--primary-color);
    font-size: 3.8rem;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    font-size: 3.8rem;
    color: var(--primary-color);
}

.skills-img {
    display: flex;
    align-items: center;
}

.skills-img img {
    display: block;
    width: 100%;
    border-radius: 10%;
}

.i-check{
    height: 4.4rem;
    width: 4.4rem;
    padding: 0 1.5rem;
    background: var(--primary-color);
    border-radius: 50%;
    padding-top: 1.6rem;
    margin-right: 1.4rem;
}

.learn {
    margin-top: 30px;
}

.learn1, .learn2, .learn3, .learn4 {
    display: flex; 
    align-items: center;
    padding: 8px 12px;
    transition: all 0.3s ease;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.learn1:hover, .learn2:hover, .learn3:hover, .learn4:hover{
    box-shadow: 0 4px 10px var(--primary-color);   /* x y blur scale color*/
    transform: translateY(-5px);
    background-color: var(--grey-60-color);
    cursor: pointer;
}

.watch-courses a, .sign-in a{
    text-decoration: none;
    display: block;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-100-color);
    transition: .3s;
}

.watch-courses a {
    margin: 0;
}

.course {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-30-color);
}

.watch-courses a:hover, .sign-in a:hover{
    background: var(--second-color);
    transition: .3s;
}

.chose-us {
    background-color: var(--white-100-color);
    margin: 4rem 0;
}

.why__left img {
    display: block;
    width: 100%;
}

.thing{
    margin: 15px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-30-color);
    padding: 10px;
}

.thing-img{
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    border-radius: 10px;
    background-color: var(--white-100-color);
    margin-right: 10px;
}
.thing-img img{
    height: 6rem;
    width: 6rem;
}

.thing-content{
    flex: 1;
    align-content: center;
    justify-content: center;
}
.thing-content .content{
    font-size: 14px;
    text-align: justify;
}

.thing-content .content h3{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary-color);
    font-weight: 600;
}

.request-advice{
    margin: 4rem 4rem;
    font-size: 16px;
    color: var(--white-100-color);
}

.request-advice p {
    text-align: center;
}

.request-advice .content{
    width: auto;
    height: 39rem;
    margin: 4rem 4rem;
}

.request-advice .content .free-advice h1{
    font-size: 3.8rem;
}

.send-number .read-number{
    height: 5rem;
    width: 25rem;
    border-radius: 1rem;
    padding: 5px 12px;
    background-color: var(--white-100-color);
    outline: none;
    border: none;
    margin-right: 8px;
}
.send-number .send{
    height: 5rem;
    width: 19rem;
    border-radius: 1rem;
    color: var(--white-100-color);
    font-size: 20px;
    background-color: var(--primary-color   );
    transition: all 0.5s ease;
    border: none;
}
.send-number .send:hover{
    transition: .3s;
    background-color: var(--second-color);
}

.request-background {
    background-image: url('../img/bg-end.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    padding: 4px 0px;
}

.request-advice p {
    margin: 10px 0px 15px 0px;
}

@media screen and (max-width: 991.98px) {
    .about-us-img {
        display: flex;
        align-items: center;
    }

    .course .row {
        flex-direction: column-reverse;
    }

    .skills-img {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 767.98px) {
    .about-us-content h1 {
        text-align: center;
    }

    .text {
        text-align: justify;
    }

    .course .row {
        flex-direction: column-reverse;
    }

    .skills {
        margin-top: 20px;
    }

    .skills__main {
        margin: 4rem 4rem;
    }

    .skills__main p {
        text-align: justify;
    }

    .send-number .read-number {
        width: 160px;
    }

    .send-number .send {
        width: 90px;
    }
}

@media screen and (max-width: 455px) {
    .list li {
        margin-bottom: 20px;
        text-align: justify;
    }  
    
    .thing-content .content p {
        display: none;
    }

    .thing-content .content h3 {
        text-align: center;
    }

    .free-advice h1 {
        text-align: center;
    }

    .send-number .read-number {
        margin-bottom: 10px;
    }

    .send-number .read-number {
        width: 150px;
    }

    .send-number .send {
        width: 100px;
    }

    .send-number {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}