
@media screen and (max-width: 780px) {
    .cart-container__detail {
        order: 1;
    }
    .cart-container__thanhToan {
        order: 0;
    }

}

@media screen and (max-width: 1200px) {
    .cart-container__thanhToan {
        text-align: center;
    }

    .cart-container__thanhToan button {
        width: 200px !important;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

