

@media screen and (max-width: 990px){
      .content__img > img{
            display: none;
       }    
      .content__form-group h2{
            margin-top: 30px;
      }
      .content__form-group{
            margin: auto;
      }
}

@media screen and (max-width: 577.98px){
      .box-pass {
            width: 380px;
            flex-wrap: wrap;
            display: flex !important;
            justify-content: center !important;
      }

      .box-pass a {
            margin-top: 5px;
      }

      .formF .form-control {
            width: 380px;
      }
}

@media screen and (max-width: 510.98px){
      .formF .form-control {
            width: 350px;
      }
}

@media screen and (max-width: 430.98px){
      .content__text-heading {
            font-size: 3rem;
      }
      .form-floating > .form-control {
            width: 250px;
      }

      .formt__group {
            width: 320px;
      }

      #rememberPass,
      #forgotPass,
      .formF__button button, 
      .form__group.form-check > p {
            font-size: 1.4rem;
      }
}

@media screen and (max-width: 385.98px){
      .content__text-heading {
            font-size: 3rem;
      }
      .form-floating > .form-control {
            width: 220px;
      }

      .content__form-group {
            width: 200px;
      }

      .formt__group {
            width: 270px;
        }
}