@media screen and (max-width: 1330.98px) {
    /* TODO: Header */
    .header__bottom-input {
        width: 320px;
    }

    .header__bottom-nav-link {
        padding: 5px;
    }
}

@media screen and (max-width: 1199.98px) {
    /* TODO: Header */
    .header__bottom-genre > p:first-child {
        padding: 6px;
        width: 80px;
    }

    .header__bottom-section > div {
        margin: 0px 5px;
    }

    .header__bottom-input {
        width: 250px;
    }

    /* TODO: Banner */
    .banner__content {
        margin-left: 0;
    }

    .banner__title {
        font-size: 4.2rem;
        margin-top: 10px;
    }

    .banner__sign .button {
        padding: 10px 15px;
        margin-bottom: 15px;
    }

    /* TODO: Partner */
    .partner__img {
        margin: 0px 7px;
    }

    /* TODO: Student */
    .student .container .row {
        display: flex;
        align-items: center;
    }

    .teach__title,
    .student__title {
        font-size: 2.5rem;
    }

    .teach__desc,
    .student__item {
        font-size: 1.6rem;
    }

    .teach__join,
    .student__btn .button-primary,
    .student__btn .button-second {
        font-size: 1.6rem;
    }

    /* TODO: response */
    .response__title {
        font-size: 2.5rem;
    }

    .response__desc {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1081.98px) {
    /* TODO: Header */
    .header__bottom-nav {
        display: none;
    }

    .header__bottom-genre > p:first-child {
        padding: 6px 16px;
        width: 110px;
    }

    .header__bottom-section > div {
        margin: 0px 8px;
    }

    .header__bottom-input {
        min-width: 380px;
        width: 40vw;
    }

    .header__bottom-bar {
        border: none;
        display: flex;
    }

    .header__bottom-list {
        padding: 0;
        top: 40px;
        left: -180px;
    }

    .header__bottom-item:hover {
        color: var(--primary-color);
        transition: .3s;
        background-color: var(--white-30-color);
    }   
}

@media screen and (max-width: 834.98px) {
    /* TODO: Header */
    .header__bottom-genre > p:first-child {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    /* TODO: Banner */
    .banner__title {
        font-size: 2.8rem;
    }

    .banner__desc {
        font-size: 1.6rem;
    }

    .banner__sign .button {
        padding: 5px 8px;
        font-size: 1.4rem;
    }

    .banner__sign .button > i {
        display: none;
    }

    /* TODO: Partner */
    .partner__imgs .partner__img:nth-child(odd) {
        display: none;
    }

    .partner__img {
        margin: 0px 20px;
    }

    /* TODO: Student */
    .teach__join,
    .student__btn .button-primary,
    .student__btn .button-second {
        padding: 6px 10px;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    /* TODO: Response */
    .response__name {
        font-size: 2rem;
    }

    .response__message,
    .response__country {
        font-size: 1.6rem;
    }

    .response__horizontal {
        margin: 10px 0px;
    }

    .response__main .row .col-xl-4 {
        margin-bottom: 15px;
    }
}   

@media screen and (max-width: 767.98px) {
    .header__top,
    .header__bottom-cart {
        display: none;
    }

    .header__bottom-input {
        min-width: 250px;
    }

    .header__bottom-genre-link.cart {
        display: flex;
    }

    /* TODO: Banner */
    .banner .container-fluid .row:first-child {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner__content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner__title {
        text-align: center;
        font-size: 3rem;
    }

    .banner__sign {
        display: flex;
        justify-content: center;
    }

    .banner__sign .button {
        padding: 10px 25px;
    }

    .banner__img {
        display: none;
    }

    /* TODO: Student */
    .teach__img,
    .student__img {
        display: none;
    }
}

@media screen and (max-width: 576.98px) {
    .header__top,
    .header__bottom-cart,
    .header__bottom-input {
        display: none;
    }

    .header__bottom-search-icon {
        width: 40px;
        height: 40px;
        align-self: center;
        margin-left: 100px;
        top: -20px;
        left: -121px;
        font-size: 2rem;
    }

    /* TODO: Partner */
    .partner__imgs {
        display: flex;
        flex-wrap: wrap;    
    }

    .partner__img {
        margin-bottom: 25px;
    }

    /* TODO: Course */
    .course__button .button {
        margin-bottom: 15px;
    }

    /* TODO: Student */
    .student__logo > img {
        margin: auto;
        display: block;
    }

    .teach__title,
    .student__title {
        text-align: center;
    }

    .student__list {
        margin-left: 10px;
    }

    .student__btn {
        display: flex;
        justify-content: center;
    }

    .course, .topic, .student, .teach {
        padding: 40px 0px;
    }

    .teach__join {
        display: block;
        margin: auto;
    }

    /* TODO: Footer */
    .footer .container .col-12:nth-child(2),
    .footer .container .col-12:nth-child(3) {
        display: none;
    }
}