:root {
    --primary-color: #7C00FE;
    --second-color: #FF69B4;
    --title-light-color: #fff;
    --title-dark-color: #000;
    --text-light-color: #fff;
    --text-dark-color: #000;
    --white-100-color: #fff;
    --dark-100-color: #000;
    --dark-80-color: #0F1114;
    --white-30-color: #F0F6FF;
    --font-family: "Poppins", sans-serif;
}