:root {
    --primary-color: #7C00FE;
    --second-color: #FF69B4;
    --font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

* {
    font-family: var(--font-family);
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

.skew {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.skew::before {
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    transform: skew(var(--deg));
    background-color: var(--color);
    z-index: -1;
}

/* TODO: CSS for scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track { /* TODO: CSS scrollbar empty*/
    background-color: transparent;
    opacity: .7;
}

body::-webkit-scrollbar-thumb { /* TODO: CSS scrollbar scroll */
    background-color: var(--primary-color);
    border-radius: 6px;
}

/* TODO: CSS for button */
.button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-right: 15px;
    transition: .3s;
}

.button > i {
    margin-left: 6px;
}

.button-primary {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
}

.button-primary:hover {
    background-color: var(--second-color);
    transition: .3s;
}

.button-second {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-weight: 500;
}

.button-second:hover {
    background-color: #F0F6FF;
    transition: .3s;
}

/* TODO: CSS for title */
.title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
}

/* TODO: CSS for hr */
.horizontal {
    margin: auto;
    width: 75%;
}

    /*
        TODO: Header top
    */

.header {
    position: sticky;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__top {
    background-color: #0F1114;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-sale {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}

.header__top-day {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.8rem;
}

.header__top-social {
    display: flex;  
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__top-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-list .header__top-item:first-child {
    margin-left: 20px;
}

.header__top-item {
    margin: 0px 6px;
}

.header__top-item:hover > a {
    background-color: var(--second-color);
    transition: .3s;
    cursor: pointer;
}

.header__top-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.4rem;
    transition: .3s;
}

    /*
        TODO: Header bottom
    */
.header__bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bottom-section > div {
    margin: 0px 8px;
}

.header__bottom-logo {
    width: 140px;
    height: auto;
}

.header__bottom-genre {
    position: relative;
}

.header__bottom-genre:hover::after {
    display: block  ;
}

.header__bottom-genre > p:first-child {
    margin: 0;
    padding: 6px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 110px;
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.header__bottom-genre:hover > p:first-child {
    transition: .3s;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.header__bottom-genre:hover .header__bottom-genre-list {
    display: block;
}

.header__bottom-genre::after {
    display: block;
    content: "";
    width: calc(100% + 20px);
    height: 30px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.header__bottom-genre-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    width: 230px;
}

.header__bottom-genre-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 12px 25px 12px 25px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    transition: .3s;
}

.header__bottom-genre-link:hover {
    color: var(--primary-color);
    transition: .3s;
    background-color: #F0F6FF;
}

.header__bottom-search {
    position: relative;
}

.header__bottom-search-icon {
    position: absolute;
    width: 40px;
    border-radius: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    right: 0;
    transition: .3s;
}

.header__bottom-search-icon:hover {
    color: var(--primary-color);
    transition: .3s;
    cursor: pointer;
}

.header__bottom-input {
    padding: 10px 20px;
    width: 380px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    outline: none;
}

.header__bottom-bar,
.header__bottom-cart {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .3s;
}

.header__bottom-cart {
    position: relative;
}

.header__bottom-cart::after {
    display: block;
    content: "";
    width: 60px;
    height: 70px;
    background-color: transparent;
    position: absolute;
    top: 0;
}

.header__bottom-bar {
    position: relative;
}

.header__bottom-bar::after {
    display: none;
    content: "";
    width: calc(100% + 30px);
    height: 55px;
    position: absolute;
    top: 10px;
    right: -15px;
}

.header__bottom-bar:hover::after {
    display: block;
}

.header__bottom-bar:hover,
.header__bottom-cart:hover {
    background-color: var(--second-color);
    transition: .3s;
    cursor: pointer;
}

.header__bottom-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__bottom-nav-item {
    margin-left: 2px;
    margin-right: 2px;
}

.header__bottom-nav-link {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    width: 100%;
    color: #000;
}

.header__bottom-nav-link:hover {
    color: var(--primary-color);
}

.header__bottom-list,
.header__bottom-bar {
    display: none;
}

.header__bottom-bar {
    position: relative;
}

.header__bottom-list {
    display: none;
}

.header__bottom-bar:hover .header__bottom-list {
    display: block;
}

.header__bottom-genre-link.cart {
    display: none;
}

    /* TODO: Banner */

.banner__content {
    margin-left: 60px;
}

.banner__title {
    font-size: 6rem;
    color: #0F1114;
    font-weight: 600;
}

.banner__desc {
    margin-top: 15px;;
    margin-bottom: 15px;;
    font-size: 1.8rem;
}

.banner__img > img {
    width: 100%;
}

    /* TODO: Partner section */
.partner {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #F5F5F5;
}

.partner__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.3rem;
    font-weight: 600;
}

.partner__link {
    text-decoration: none;
    color: var(--primary-color);
}

.partner__link:hover {
    text-decoration: underline;
}

.partner__imgs {
    display: flex;
}

.partner__img {
    display: block;
    margin: 0px 20px;
}

    /* TODO: Course */
.course {
    padding: 100px 0px;
}

.course__desc {
    text-align: center;
    font-size: 1.6rem;
    color: #0F1114;
    margin-top: 10px;
    margin-bottom: 18px;
}

.course__link {
    display: block;
    padding: 10px;
    border: 2px solid #E9EFF7;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #0F1114;
    margin-bottom: 15px;
}

.course__link:hover {
    cursor: pointer;
}

.course__link:hover .course__box-img img {
    scale: 1.2;
    transition: .4s;
}

.course__box-img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
}

.course__box-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.course__content {
    margin-top: 8px;
    padding: 8px;
}

.course__box-logo {
    display: flex;
    align-items: center;
}

.course__box-logo > img {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 35px;
    margin-right: 8px;
}

.course__box-logo > p {
    margin: 0;
    opacity: .6;
}

.course__box-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 8px 0px 14px 0px;
}

.course__box-desc p:first-child {
    color: var(--primary-color);
    margin-bottom: 3px;
}

.course__box-desc p:last-child {
    opacity: .6;
    margin: 0;
}

.course__button {
    margin-top: 25px;
}

    /* TODO: TOPIC */
.topic {
    padding: 100px 0px;
}

.topic__title {
    text-align: center;
    margin-bottom: 40px;
}

.topic__main {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: .3s;
}

.topic__main:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
    top: -3px;
    transition: .3s;
    cursor: pointer;
}

.topic__course {
    display: flex;
    align-items: center;
}

.topic__img {
    width: 80px;
    height: 80px;
}

.topic__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.topic__content {
    margin-left: 15px;
}

.topic__heading {
    margin-bottom: 0;
}

.topic__desc {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: .7;
}

    /* TODO: Student */
.student {
    padding: 100px 0px;
}

.student__logo {
    margin-bottom: 20px;
}

.student__logo > img {
    width: 160px;
}

.student__content {
    width: calc(100% - 20px);
    margin-bottom: 30px;
}

.student__title {
    text-align: left;
    margin-bottom: 20px;
}

.student__list {
    font-size: 2rem;
}

.student__item {
    margin-bottom: 15px;
}

.student__more,
.student__join,
.teach__join {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 2rem;
    margin-right: 20px;
}

.student__more {
    border: 1px solid var(--primary-color);
}

.student__more > i {
    margin-left: 5px;
}

.student__img > img {
    width: 100%;
}

    /* TODO: Teach */
.teach {
    padding: 100px 0px;
}

.teach__img > img {
    width: 80%;
}

.teach__title {
    text-align: left;
    width: calc(100% - 20px);
    margin-bottom: 25px;
}

.teach__desc {
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: justify;
}

    /* TODO: Response */
.response {
    padding: 100px 0px;
}

.response__title {
    margin-bottom: 20px;
}

.response__desc {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 55px;
}

.response__name {
    margin-top: 25px;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.response__country {
    font-size: 1.6rem;
    opacity: .8;
    margin: 0;
}

.response__horizontal {
    width: 60px;
    height: 2px;
    margin: 20px 0px;
    background-color: var(--primary-color);
}

.response__message {
    padding: 0px 50px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
}

    /* TODO: Footer */
.footer {
    padding: 80px 0px 60px 0px;
    background-color: #181821;
}

.footer__img {
    width: 180px;
    margin-bottom: 20px;
}

.footer__box {
    color: var(--primary-color);
    padding: 0px 10px;
}

.footer__box .footer__img:last-child {
    margin-top: 25px;
}

.footer__title {
    font-size: 2.6rem;
    font-weight: 600;
}

.footer__desc {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 10px;
    opacity: .8;
}

.footer__list {
    padding: 0;
    margin: 20px 0px 0px 0px;
    list-style-type: none;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    opacity: .8;
}

.footer__link:hover {
    text-decoration: underline;
}

.product__price {
    font-weight: bold;
}

.button-solve {
    padding: 8px;
    font-size: 1.6rem;
}

.product-heading {
    font-size: 2.4rem !important;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.shopping-title {
    font-size: 2.6rem !important;
    color: var(--primary-color);
    font-weight: 600;
}

#cart__quantity {
    font-size: 1.6rem;
}

.product-title {
    font-size: 2.2rem !important;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.product__col-card > .product-box {
    border: 1px solid #7f7f7f57;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}

.product-box > [class*="product"] {
    border: none;
}

.product__img {
    
}

.product__img-card {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.header__bottom-dropmenu {
    width: 25vw;
    min-width: 420px;
    margin-top: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.header__bottom-dropmenu #checkout-btn {
    padding: 8px;
    font-size: 1.4rem;
    color: #fff;
    width: 100%;
    margin-top: 5px;
}

.dropdown-header {
    font-size: 2rem;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: 600;
}

.list-group-item {
    margin-bottom: 5px;
    border: 1px solid #ddd !important;
    border-radius: 5px;
}

.list-group-item img {
    object-fit: cover;
    width: 130px !important;
}

.miniCart__infor p {
    margin-bottom: 3px !important;
    font-size: 1.3rem !important;
}

.miniCart__infor p:first-child {
    font-size: 1.5rem !important;
    line-height: 1.2;
}   

.miniCart__infor p:nth-child(2) {
    font-size: 1.3rem !important;
}

.consultation {
    background-image: url('../img/subscribe-bg.svg');
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 50vh;
}

.consultation > h2 {
    color: #fff;
    font-size: 3rem;
    top: 25%;
}

.consultation > p {
    color: white;
    font-size: 2rem;
    top: 40%;
}

.consultation__form {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
}
.consultation__form input {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 10px;
}
.custom-button {
    background: linear-gradient(to right, #003366, #00ccff);
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.custom-button:hover {
    background: linear-gradient(to right, #00ccff, #003366);
}
.custom-button i {
    margin-left: 10px;
    transition: transform 0.3s;
}
.custom-button:hover i {
    transform: translateX(10px);
}

.contact__top-social {
    display: flex;  
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.contact__top-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__top-list .contact__top-item:first-child {
    margin-left: 20px;
}

.contact__top-item {
    margin: 0px 6px;
}

.contact__top-item:hover > a {
    background-color: var(--second-color);
    transition: .3s;
    cursor: pointer;
}

.contact__top-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.4rem;
    transition: .3s;
}   
/* CONTACT */
.contact .container-fluid{
    padding: 0px;
}
/* CONTACT MAIN BODY */
.contact-header h1{
    font-weight: 700;
    font-size: 5.5rem;
}
.contact-form .form__title h1{
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.form-floating label{
    transition: 0.3s ease;
}
/* FORM INPUT */
.contact-form{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) ;
    border-radius: var(--bs-border-radius);
    box-sizing: border-box;
}
.form .form-control{
    outline: none;
    box-shadow: none; 
    transition: 0.15s ease;
}
.form-floating > .form-control { 
    height: 50px; 
    padding: 12px; 
}
.form-floating > .form-control:focus ~ label {
    transform: translateY(-2rem);
    color: var(--primary-color);
    font-weight: bold;
}
.form label:focus{
    color: var(--primary-color);
}
.form .form-control:focus{
    border: 2px solid var(--primary-color);
    outline: none;
}
.form .form-control:hover{
    border: 2px solid var(--primary-color);
    outline: none;
}
.form__content input, .form__content label, .form__content textarea{
    font-size: 1.6rem;
}
.form-check-input.subscribe {
    margin: 0;
    margin-right: 10px;
}
.form-subs {
    margin-top: 15px;
    margin-bottom: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
}
.form-subs label {
    font-size: 1.6rem;
}
.form-check{
    width: 100%;
    max-width: 500px;
}
.form-check-label{
    font-size: 1.2rem;
}
.form__content{
    width: 100%;
    max-width: 500px;
}

textarea.form-control{
    height: 100px
}
.subscribe{
    height: 1.4rem;
    width: 1.4rem;
}
.subscribe:focus{
    box-shadow: none;
}
.subscribe:checked{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* FORM  BOTTONNNNN */
.form__button {
    width: 100%;
    max-width: 500px;
}
.form__button button{
    width: 60%;
    height: 40px;
    color: white;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    padding: 8px;
}
button.form-btn:hover {
    background-color: var(--second-color);
    color: #fff;
}
.btn:first-child:active {
    background-color: var(--second-color) !important;
    color: #fff !important;
    border: none !important;
}
#contact-img-cover{
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.contact-img-bottom{
    max-width: 450px;
}
.contact-img-bottom ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.img-bottom {
    width: 100%;
	max-width: 100%;
	object-fit: cover;
}

.contact-img-bottom li{
    list-style: none;
    width: 100%;
    height: 90px;
    display: flex;
    padding: 8px 24px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.contact-img-bottom li:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-0.3rem);
    cursor: pointer;
}

.about-us{
    background-color: #fff;
    margin: 4rem 4rem;
    font-size: 16px;
}

.about-us-img img{
    width: 100%;
}

.about-us-content .list{
    list-style-type: none;
    padding-left: 0;
    margin: 2rem;
}

.about-us-content .list li{
    font-weight: 550;
    height: 4rem;
}

.about-us-content .list img{
    height: 22px;
    width: 22px;
    margin-right: 1.5rem;
    transform: translateY(-3px);
}

.btn-about {
    padding: 12px 18px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
    transition: .3s;
}

.btn-about:hover {
    background-color: var(--second-color);
    transition: .3s;
}

.course-skills{
    width: auto;
    height: 53.8rem;
    background-color: #F0F6FF;
    margin: 4rem 4rem;
    display: flex;
    align-items: center;
}

.skills__main h1 {
    color: var(--primary-color);
    font-size: 3.8rem;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.skills{
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: #000;
}

.about-us-content h1, .course-skills h1, .why-chose-us h1{
    color: var(--primary-color);
    font-size: 3.8rem;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    font-size: 3.8rem;
    color: var(--primary-color);
}

.skills-img {
    display: flex;
    align-items: center;
}

.skills-img img {
    display: block;
    width: 100%;
    border-radius: 10%;
}

.i-check{
    height: 4.4rem;
    width: 4.4rem;
    padding: 0 1.5rem;
    background: var(--primary-color);
    border-radius: 50%;
    padding-top: 1.6rem;
    margin-right: 1.4rem;
}

.learn {
    margin-top: 30px;
}

.learn1, .learn2, .learn3, .learn4 {
    display: flex; 
    align-items: center;
    padding: 8px 12px;
    transition: all 0.3s ease;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.learn1:hover, .learn2:hover, .learn3:hover, .learn4:hover{
    box-shadow: 0 4px 10px var(--primary-color);   /* x y blur scale color*/
    transform: translateY(-5px);
    background-color: #F5F5F5;
    cursor: pointer;
}

.watch-courses a, .sign-in a{
    text-decoration: none;
    display: block;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    transition: .3s;
}

.watch-courses a {
    margin: 0;
}

.course {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F0F6FF;
}

.watch-courses a:hover, .sign-in a:hover{
    background: var(--second-color);
    transition: .3s;
}

.chose-us {
    background-color: #fff;
    margin: 4rem 0;
}

.why__left img {
    display: block;
    width: 100%;
}

.thing{
    margin: 15px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F6FF;
    padding: 10px;
}

.thing-img{
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
}
.thing-img img{
    height: 6rem;
    width: 6rem;
}

.thing-content{
    flex: 1;
    align-content: center;
    justify-content: center;
}
.thing-content .content{
    font-size: 14px;
    text-align: justify;
}

.thing-content .content h3{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary-color);
    font-weight: 600;
}

.request-advice{
    margin: 4rem 4rem;
    font-size: 16px;
    color: #fff;
}

.request-advice p {
    text-align: center;
}

.request-advice .content{
    width: auto;
    height: 39rem;
    margin: 4rem 4rem;
}

.request-advice .content .free-advice h1{
    font-size: 3.8rem;
}

.send-number .read-number{
    height: 5rem;
    width: 25rem;
    border-radius: 1rem;
    padding: 5px 12px;
    background-color: #fff;
    outline: none;
    border: none;
    margin-right: 8px;
}
.send-number .send{
    height: 5rem;
    width: 19rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 20px;
    background-color: var(--primary-color   );
    transition: all 0.5s ease;
    border: none;
}
.send-number .send:hover{
    transition: .3s;
    background-color: var(--second-color);
}

.request-background {
    background-image: url('../img/bg-end.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    padding: 4px 0px;
}

.request-advice p {
    margin: 10px 0px 15px 0px;
}

.cart__des div span {
    font-size: 1.5rem;
}

.cart-container__thanhToan * {
    font-size: 2rem;
}

.cart-container__detailProduct * {
    font-size: 1.5rem;
}

.cart-container__detail > * {
    border-top: 1px rgb(207, 207, 207) solid;
    padding-top: 10px;
}

.content__img > img{
    width: 100%;
    height: 600px;
    display: flex;
}
.form-check {
     padding: 0;
}
.content__form-group{
     flex: 1;
     max-width: 600px;
}
.content__text-heading{
   font-size: 4.2rem;
   text-align: center;
   color: var(--primary-color);
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 30px;
}
.content__form-group{
     padding: 50px 0px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) ;
     border-radius: 5px;
     box-sizing: border-box;
}
.formF .form-control{
     max-width: 450px;
     outline: none;
     box-shadow: none; 
}
.form__group{
     margin: auto;
}
.form-floating > .form-control{ 
     height: 50px; 
     padding: 13px; 
     width: 500px;
}
.form-floating > .form-control:focus ~ label {
     transform: translateY(-2rem);
     color: var(--primary-color);
     font-weight: bold;
}
.formF .form-control:focus{
     border: 2px solid var(--primary-color);
}
.formF .form-control:hover{
     border: 2px solid var(--primary-color);
}
.form__group input, .form__group label{
     font-size: 1.6rem;
}
.formF-check-label2{
     font-size: 1.6rem;
     cursor: pointer;
     margin-left: 65%;
     color: black;
}
.box{
     height: 1.6rem;
     width: 1.6rem;
     margin-right: 5px;
}
#rememberPass{
     font-size : 1.6rem;    
     /* padding-right: 50px; */
}
.box-pass {
     width: 430px;
     margin-top: 10px !important;
     margin-bottom: 15px !important;
     margin: auto;
     display: flex !important;
     justify-content: space-between !important;
}
.member-pass {
     display: flex;
     justify-content: center;
     align-items: center;
}
.member-pass input {
     margin: 0 !important;
}
.member-pass label {
     margin-left: 5px;
}
.formt__group{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
#forgotPass{
     font-size: 1.6rem;
     color: black;
     cursor: pointer;
     display: inline-block;
     transition: .3s;
}
#forgotPass:hover {
     color: var(--primary-color);
     transform: .3s;
}
.formF__button button{
     width: 40%;
     height: 40px;
     color: white;
     font-size: 1.6rem;
     background-color: var(--primary-color);
     transition: 0.3s ease;
     padding: 3px;
}
button.formF-btn:hover, button.formF-btn:focus {
     color: white;
     /* box-shadow: 0px 0px 20px var(--second-color); */
     /* transform: translateY(-0.4rem); */
     background-color: var(--second-color);
}
.form__group.form-check > p{
     font-size: 1.7rem;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 15px;
     text-align: center;
}

.form-icon a {
     font-size: 30px;
     color: #000;
     transition: .3s;
}

.form-icon a:hover {
     color: var(--primary-color);
     transition: .3s;
}

a > label.form-check-label{
     color: black;
     margin-left: 65%;
}

.form-icon {
     display: flex;
     justify-content: center;
     align-items: center;  
}

.form-icon > a {
     margin-left: 10px;
     margin-right: 10px;
}
.haveLink {
     display: block;
     margin: auto;
     width: fit-content;
     transition: .3s;
}
.haveLink label {
     transition: .3s;
}
.haveLink:hover label {
     color: var(--primary-color) !important;
     transition: .3s;
}
.haveAccount {
     margin-left: 0 !important;
}

/*Class dùng chung*/
.button_buy-primary-color {
    background-color: var(--primary-color) !important;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .3s;
}

.button-solve {
    padding: 8px;
    font-size: 1.6rem;
}

.button_buy-primary-color:hover {
    background-color: var(--second-color) !important;
    transform: .3s;
}

/*Class dùng chung*/
.nav__product {
    z-index: 1000;
}

.product {
    color: rgb(112, 110, 110); /* Màu xám nhạt */
    font-size: 1rem;
    width: 35rem;
    padding: 0 !important ;
    border-radius: 3%;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mượt mà */
}

.product:hover {
    transform: scale(1.05); /* Phóng to 5% khi hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Thêm bóng cho card */
    cursor: pointer;
}

.product__body {
    padding: 16px;
}

.product__body .card-title {
    font-size: 2rem !important;
    font-weight: 600;
    color: var(--primary-color);
}

.product, .product__detail li {
    border: none;
    padding: 8px 16px;
    background: #ffffff;
    font-size: 1.6rem;
}

.product__detail .list-group-item {
    border: none !important;
}

.product__buy span {
    font-size: 27px;
    font-weight: 600 !important;
}

.product__price {
    font-weight: 500 !important;
    color: var(--primary-color);
}

.buy_element {
    padding: 6px 12px;
    font-size: 1.4rem;
    border: none;
    border-radius: 14px;
}

.buy_element.active {
    border: none;
    background-color: white !important;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.page-link {
    font-size: 1.6rem;
    padding: 8px 16px;
}

@media screen and (max-width: 1330.98px) {
    /* TODO: Header */
    .header__bottom-input {
        width: 320px;
    }

    .header__bottom-nav-link {
        padding: 5px;
    }
}

@media screen and (max-width: 1199.98px) {
    /* TODO: Header */
    .header__bottom-genre > p:first-child {
        padding: 6px;
        width: 80px;
    }

    .header__bottom-section > div {
        margin: 0px 5px;
    }

    .header__bottom-input {
        width: 250px;
    }

    /* TODO: Banner */
    .banner__content {
        margin-left: 0;
    }

    .banner__title {
        font-size: 4.2rem;
        margin-top: 10px;
    }

    .banner__sign .button {
        padding: 10px 15px;
        margin-bottom: 15px;
    }

    /* TODO: Partner */
    .partner__img {
        margin: 0px 7px;
    }

    /* TODO: Student */
    .student .container .row {
        display: flex;
        align-items: center;
    }

    .teach__title,
    .student__title {
        font-size: 2.5rem;
    }

    .teach__desc,
    .student__item {
        font-size: 1.6rem;
    }

    .teach__join,
    .student__btn .button-primary,
    .student__btn .button-second {
        font-size: 1.6rem;
    }

    /* TODO: response */
    .response__title {
        font-size: 2.5rem;
    }

    .response__desc {
        font-size: 1.8rem;
    }

    .topic .col-xl-3:last-child {
        display: none;
    }

    .contact{
        margin-top: 30px;
    }
    #contact-img-cover{
        display: none;
    }
    .contact-img-bottom{
        margin-top: 30px;
    }

    .cart-container__thanhToan {
        text-align: center;
    }

    .cart-container__thanhToan button {
        width: 200px !important;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1081.98px) {
    /* TODO: Header */
    .header__bottom-nav {
        display: none;
    }

    .header__bottom-genre > p:first-child {
        padding: 6px 16px;
        width: 110px;
    }

    .header__bottom-section > div {
        margin: 0px 8px;
    }

    .header__bottom-input {
        min-width: 380px;
        width: 40vw;
    }

    .header__bottom-bar {
        border: none;
        display: flex;
    }

    .header__bottom-list {
        padding: 0;
        top: 40px;
        left: -180px;
    }

    .header__bottom-item:hover {
        color: var(--primary-color);
        transition: .3s;
        background-color: #F0F6FF;
    }   
}

@media screen and (max-width: 991.98px) {
    /* TODO: Banner */
    .banner__title {
        font-size: 2.8rem;
    }

    .banner__desc {
        font-size: 1.6rem;
    }

    .banner__sign .button {
        padding: 5px 8px;
        font-size: 1.4rem;
    }

    .banner__sign .button > i {
        display: none;
    }

    /* TODO: Partner */
    .partner__imgs .partner__img:nth-child(odd) {
        display: none;
    }

    .partner__img {
        margin: 0px 20px;
    }

    /* TODO: Student */
    .teach__join,
    .student__btn .button-primary,
    .student__btn .button-second {
        padding: 6px 10px;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    /* TODO: Response */
    .response__name {
        font-size: 2rem;
    }

    .response__message,
    .response__country {
        font-size: 1.6rem;
    }

    .response__horizontal {
        margin: 10px 0px;
    }

    .response__main .row .col-xl-4 {
        margin-bottom: 15px;
    }

    .topic .col-xl-3:last-child {
        display: block;
    }

    .about-us-img {
        display: flex;
        align-items: center;
    }

    /* .course .row {
        flex-direction: column-reverse;
    } */

    .skills-img {
        margin-bottom: 20px;
    }

    .content__img > img{
        display: none;
   }    
  .content__form-group h2{
        margin-top: 30px;
  }
  .content__form-group{
        margin: auto;
  }
}   

@media screen and (max-width: 834.98px) {
    /* TODO: Header */
    .header__bottom-genre > p:first-child {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .header {
        top: 0;
    }

    .header__top,
    .header__bottom-cart {
        display: none;
    }

    .header__bottom-input {
        min-width: 250px;
    }

    .header__bottom-genre-link.cart {
        display: flex;
    }

    /* TODO: Banner */
    .banner .container-fluid .row:first-child {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner__content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner__title {
        text-align: center;
        font-size: 3rem;
    }

    .banner__sign {
        display: flex;
        justify-content: center;
    }

    .banner__sign .button {
        padding: 10px 25px;
    }

    .banner__img {
        display: none;
    }

    /* TODO: Student */
    .teach__img,
    .student__img {
        display: none;
    }

    .about-us-content h1 {
        text-align: center;
    }

    .text {
        text-align: justify;
    }

    .skills {
        margin-top: 20px;
    }

    .skills__main {
        margin: 4rem 4rem;
    }

    .skills__main p {
        text-align: justify;
    }

    .send-number .read-number {
        width: 160px;
    }

    .send-number .send {
        width: 90px;
    }

    .contact-img-bottom{
        width: 100%;
    }

    .cart-container__detail {
        order: 1;
    }
    .cart-container__thanhToan {
        order: 0;
    }
}

@media screen and (max-width: 576.98px) {
    .header__top,
    .header__bottom-cart,
    .header__bottom-input {
        display: none;
    }

    .header__bottom-search-icon {
        width: 40px;
        height: 40px;
        align-self: center;
        margin-left: 100px;
        top: -20px;
        left: -121px;
        font-size: 2rem;
    }

    /* TODO: Partner */
    .partner__imgs {
        display: flex;
        flex-wrap: wrap;    
    }

    .partner__img {
        margin-bottom: 25px;
    }

    /* TODO: Course */
    .course__button .button {
        margin-bottom: 15px;
    }

    /* TODO: Student */
    .student__logo > img {
        margin: auto;
        display: block;
    }

    .teach__title,
    .student__title {
        text-align: center;
    }

    .student__list {
        margin-left: 10px;
    }

    .student__btn {
        display: flex;
        justify-content: center;
    }

    .course, .topic, .student, .teach {
        padding: 40px 0px;
    }

    .teach__join {
        display: block;
        margin: auto;
    }

    /* TODO: Footer */
    .footer .container .col-12:nth-child(2),
    .footer .container .col-12:nth-child(3) {
        display: none;
    }

    .box-pass {
        width: 380px;
        flex-wrap: wrap;
        display: flex !important;
        justify-content: center !important;
    }

    .box-pass a {
            margin-top: 5px;
    }

    .formF .form-control {
            width: 380px;
    }

    .contact-form .form__title h1 {
        font-size: 3.2rem;
    }

    .form-floating > .form-control {
        width: 380px;
    }
}

@media screen and (max-width: 510.98px){
    .formF .form-control {
          width: 350px;
    }
}

@media screen and (max-width: 485.98px) {
    .consultation > h2 {
        font-size: 2rem;
    }
    
    .consultation > p {
        color: white;
        font-size: 1.2rem;
    }

    .form__title h1{
        font-size: 3rem !important;
    }
    .contact-img-bottom{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .list li {
        margin-bottom: 20px;
        text-align: justify;
    }  
    
    .thing-content .content p {
        display: none;
    }

    .thing-content .content h3 {
        text-align: center;
    }

    .free-advice h1 {
        text-align: center;
    }

    .send-number .read-number {
        margin-bottom: 10px;
    }

    .send-number .read-number {
        width: 150px;
    }

    .send-number .send {
        width: 100px;
    }

    .send-number {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form__title h1{
        font-size: 2.5rem !important;
    }
    .form__title h1{
        font-size: 2.2rem !important;
    }
}

@media screen and (max-width: 430.98px){
    .content__text-heading {
          font-size: 3rem;
    }
    .form-floating > .form-control {
          width: 100%;
    }

    .formt__group {
          width: 320px;
    }

    #rememberPass,
    #forgotPass,
    .formF__button button, 
    .form__group.form-check > p {
          font-size: 1.4rem;
    }
}

@media screen and (max-width: 385.98px){
    .content__text-heading {
          font-size: 3rem;
    }

    .content__form-group {
          width: 200px;
    }

    .formt__group {
          width: 270px;
      }
}